<div class="jumbotron">
    <h1>Seneca Flea Market API</h1>
    <p class="lead">Seneca Flea is user-friendly service for buying and selling school textbooks and materials.</p>
    <p><a href="/help" class="btn btn-primary btn-lg">Documentation &raquo;</a></p>
</div>
